body {
    background-color: rgb(2, 2, 77);
    color:rgb(184, 124, 241);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}

hr {
    color:rgb(184, 124, 241);
}


h3 {
    transition-property: color;
    transition-duration: 0.5s;
}

h3:hover {
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
}

.artist {
    transition-property: color;
    transition-duration: 0.5s;
}

.artist:hover {
    color: white;
}

.venue {
    transition-property: color, background-color;
    transition-duration: 0.5s;
    color: white;
    background-color: rgb(184, 124, 241);
    line-height: 150%;
    padding: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;

}

.venue:hover {
    background-color: white;
    color:rgb(2, 2, 77);
}


    
    h1 {
        font-size: 75px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        text-align: center;
    }
    
    h3 {
        font-size: 30px;
    }

    p {
        margin-left: 25px;
        margin-right: 25px;
    }
    

    nav {
        display:grid;
        grid-template-columns: 2;
        grid-template-rows: 5;
        justify-content: center;
        height: 1060px;
        background-color: rgb(2, 2, 77);
        position: sticky;
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 20px;
    }

    nav a:hover {
        color: rgb(2, 2, 77);
    }

    #a {
        grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: rgb(184, 124, 241);
    margin-right: 20px;
    }

    #b {
        grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: rgb(184, 124, 241);
    margin-right: 20px;
    }

    #c {
        grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: rgb(184, 124, 241);
    margin-right: 20px;
    }

    #d {
        grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: rgb(184, 124, 241);
    margin-right: 20px;
    }

    #e {
        grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 0;
    grid-column-end: 1;
    background-color: rgb(184, 124, 241);
    margin-right: 20px;
    }

    #f {
        grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(184, 124, 241);
    }

    #g {
        grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(184, 124, 241);
    }

    #h {
        grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(184, 124, 241);
    }

    #i {
        grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(184, 124, 241);
    }

    #j {
        grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(184, 124, 241);
    }
    
    nav a{
        text-align: center;
        color:white;
        padding-top: 5px;
        transition-property: color;
        transition-duration: 1.5s;
        font-size: 20px;
        margin-top: 20px;

    }
    
    
    img {
        width: 130px;
        height: 130px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 2px;
    }    

    #to_top{
        background-color: rgb(184, 124, 241);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: sticky;
        border: 5px solid white;
        float: right;
        margin-right: 20px;
        top: 20px;
        opacity: 0.5;
        transition: opacity;
        transition-duration: 0.5s;
    }

    #to_top:hover {
        opacity: 1;
    }

    #up_arrow {
        margin-left: 23px;
        margin-top: 40px;
        font-size: 30px;
        color: white;
    }


@media screen and (min-width: 1000px) {
    h1 {
        font-size: 60px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }
    
    h3 {
        font-size: 25px;
    }
    #to_top {
        opacity: 1;
    }


    p {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
        margin-right: 200px;
        line-height: 150%;
    }
    
    nav {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        height: 160px;
        background-color:rgb(2, 2, 77);
    }
    
    nav a{
        width:10vw;
        text-align: center;
        border: 5px solid white;
        color:white;
        transition-property: color;
        transition-duration: 1.5s;
        background-color: rgb(2, 2, 77);
        padding-top: 2px;
    }
    
    #up_arrow {
        margin-left: 23px;
        margin-top: 40px;
        font-size: 30px;
        color: white;
    }
    
    img {
        width: 80px;
        height: 80px;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 2px;

    }    

    #f, #g, #h, #i {
        margin-right: 20px;
    }

}