h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: green;
}

body {
  width: 640px;
  margin: 0 auto;
  background-color: rgb(204, 229, 204);
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  border: 4px solid green;
}

.displayed-img {
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

#lightBtn {
  border: 0;
  background: rgba(105, 149, 96, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

#pbtn {
  border: 0;
  background: rgba(105, 149, 96, 0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 20px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  height: 150px;
  float: left;
  cursor: pointer;
}

.thumb-bar {
  width: 648px;
}