* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    font-size: 10px;
    background: url(../img/claire.jpg);
  }

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-style: italic;
}

.dog_breed {
  align-items: left;
  border: 2mm dotted white;
  color: white;
  float: right;
  background-color: rgb(0, 0, 128, 0.5);
  padding: 10px;
}


.dog_info  {
    border: 1mm solid red;
    align-items: center;
    position: bottom;
    color: white;
    background-color: blue;
}
