body {
    font-size: 10px;
    margin: 0;
  }

article {
    background: url(../img/claire.jpg) no-repeat left top;
  }

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-style: italic;
}

 /*
.dog_info  {
    border: 3mm solid red;
    align-items: center;
}
*/
.dog_breed {
    align-items: left;
    border: 5mm dotted blue;
    color:blue
}
